.top-header {
  background: #fff;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #666;
  padding: 15px 0;
  position: relative;
}

.top-header p {
  margin: 0;
  padding: 0;
}

.mail-sec {
  font-size: 14px;
}

.info-sec {
  display: flex;
  align-items: center;
  gap: 15px;
}

.info-sec p {
  margin: 0;
}

.info-sec a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
  padding: 10px;
}

.info-sec a:hover {
  background-color: #4864a5;
  color: white;
}
.info-sec .twitter:hover {
  background-color: #5483ef !important;
  color: white;
}
.info-sec i {
  font-size: 18px;
}
.top-header::after {
  content: "";
  position: absolute;
  border-bottom: 3px solid rgb(240, 194, 43);
  bottom: 0;
  width: 80px;
  height: 10px;
  right: 39%;
}

/* styling the head nav Bar */
.navbar {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}
.btn-warning {
  color: White;
  border-radius: 0;
  padding: 15px 20px;
  margin-left: 10px;
  font-weight: 500;
}
.navbar-brand {
  font-size: 30px;
}
.brand-logo {
  margin-top: -10px;
}
.nav-item a {
  color: #8b8b8b !important;
  font-size: 18px;
  font-weight: bold;
}
.nav-item a:hover {
  color: #000000 !important;
}

/* styling the slider */
.carousel-item {
  position: relative;
}
.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 0;
}
.carousel-caption {
  position: absolute;
  z-index: 3;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 5;
}
.carousel-caption {
  position: absolute;
  top: 0;
  left: 250px;
  right: 0;
  bottom: 0;
}
.carousel-caption h1 {
  font-weight: 700;
  font-size: 72px;
}

/* section two features */
.feature-icon {
  width: 100px;
  height: 100px;
  background-color: #ffc107;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px auto;
  font-size: 40px;
  color: #fff;
}

.feature-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
}

.feature-text {
  color: #777;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
}

/* about-us section  */

.about-section {
  background-color: #f9f9f9;
  padding: 60px 0;
}
.about-section h2,
.about-section-2 h2 {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.about-section p,
.about-section-2 p {
  color: #555;
  line-height: 1.8;
}

/* section four styling  */
.about-me-btn {
  font-size: 18px;
  padding: 15px 25px;
}
.about-section-2 {
  padding: 60px 0;
}

/* section features  */
.features-section {
  background: #f8f9fa;
  padding: 60px 0;
}
.features-head {
  margin-bottom: 20px;
}
.features-head h2 {
  font-weight: 700;
}

.features-sec h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
  display: flex;
  align-items: center;
}

.features-sec h3 span i {
  color: #6c757d;
  font-size: 1.3rem;
}

/* card our work styling  */
.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-img-wrapper {
  overflow: hidden;
}

.card-img-top {
  transition: transform 0.4s ease;
}

.card-img-wrapper:hover .card-img-top {
  transform: scale(1.1);
}

.card-footer {
  background: #fff;
  border-top: 1px solid #eee;
  padding: 15px;
}
/* feeling convinced section */
.convinced-sec {
  background: #ffc107;
  padding: 50px;
}

.to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  color: rgb(0, 0, 0);
  background-color: #ffc107;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 999;
  border-radius: 50%;
  font-size: 22px;
}

.to-top-btn:hover {
  background-color: #000000;
  transform: translateY(-3px);
  color: white;
}

@media (max-width: 768px) {
  /* footer */
  .footer-row {
    flex-direction: column;
  }
  .footer-col {
    margin: 10px 0;
  }
  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
  .socials {
    margin-top: 10px;
  }
}
